<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ full_passage }} - Verses</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <h1>{{ full_passage }} (Module: {{ module }})</h1>
  </header>
  
  <main>
    <ul>
      {% for verse_ref, verse_content in verse_dict.items() %}
        <li>
          <strong>{{ verse_ref }}:</strong>
          <span>{{ verse_content | safe }}</span>
        </li>
      {% endfor %}
    </ul>
  </main>
</body>
</html>
